h1 {
    font-family: "Comic Sans MS","Comic Sans",sans-serif;
}
hR{
    font-family: monospace;
    background-color: red;
    height:5px;
}
h2{
    font-family: "Arial", sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}
h3{
    color: yellow;
    background-color: rgb(255, 0, 0);
    border: #e80032;
    box-shadow: 2px 2px 5px green;
    text-shadow: 1px 1px 2px #ff3333;
}
h4{
    color: black;
    background-color: white;
    border-color: rgb(15, 80, 250);
    box-shadow: 2px 2px 5px rgb(39, 255, 1);
    text-shadow: 1px 1px 2px rgba(4, 204, 24, 0.5);
}

h5{
    color: rgb(255, 0, 225);
    background-color: skyblue;
    
}