
    body{
        font-family: "Bona Nova SC", serif;
    }
h1{
    font-family: "Itim", cursive;
    
    color: #564D65;
}

h2{
    color:  #321542 ;
}

h4{
    color:  #9ffaeb ;
}

h6{
    color: #9ffaeb;
}

#sections {
    background-color: #1A181B;
    color: #05F140;
}
[type="text"]{
    border: 2px solid #9ffaeb ;
}
input[type]{
    background-color: #3E8989;
}
input[type="text"]:focus{
    background-color: #321542;
}
p::first-line{
    font-family: "Bona Nova SC", serif;
}
div[class~="azul"]{
    color: blue;
}
html_Ñ[lang|="es"]{
    font-family: "Bona Nova SC", serif;
}

a[href^="https//"]{
    color: orange;
}

img[src$="png"]{
    border: 5px solid #1A181B;
}



a:hover{
    color: #3E8989;
    
}

button:active{
    background-color: #564D65;
}

input:focus{
    background-color: #05F140;
}

input:checked{
    background-color: #05F140;
}

input:disabled{
    background-color: #1A181B;
    color: #05F140;
}



blockquote::before{
    content: "Cita:";
    font-weight: bold;
}

blockquote::after{
    content: "🤨";
    border: 5px solid #1A181B;
}


abbr::after{
    content: "👌";
    border: 5px solid #1A181B;
}

ul li::marker{
    content: "👀";
}

ul li ul li::marker{
    content: "🦁";
}

ul li ul li ul li::marker{
    content: "🥋";
}

#parrafos p:first-child{
    background-color: #05F140;
}

#parrafos p:last-child{
    background-color: #05F140;
}

#parrafos p:nth-child(even){
    text-decoration: underline;
}